<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <form action="#" method="POST">
              <input type="email" placeholder="Email Address" name="email">
              
              <input type="pwd" placeholder="Password" name="password">
              <p class="text-right "><a href="#">Forgot Password?</a></p>
              <a href="#" class="btn btn-primary btn-round btn-sm "><b>Log In</b></a>
              <p></p>
              <p class="text-muted text-center">OR</p>
              <a href="#" class="btn btn-link btn-round btn-sm "><b>Log In with Facebook</b></a>
              <br><br>
              <a href="#" class="btn btn-link  btn-round btn-sm "><b>Log In with Google</b></a>
            </form>
        </div>
        <div class="col-xs-6"></div>
    </div>
</div>